@import url('https://fonts.googleapis.com/css?family=Manuale:400i');
@import 'styles/constants';
@import 'styles/header';
@import 'styles/shoppingCart';
@import 'styles/preview';
@import 'styles/bookPanel';
@import 'styles/bookCard';
@import 'styles/aboutUs';
@import 'styles/footer';
@import 'styles/spinner';
@import 'styles/bookInShoppingCart';

#root {
  width: 100%;
  height: 100%;
  font-family: 'Manuale', serif;
}

.btn:hover {
  box-shadow: $boxShadow
}
