@import 'constants';

.bookCard {
  height: 100%;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #F5F5F5;
}

.bookCardContent {
  margin-top: 25px;
}

.bookCard:hover {
  transition-duration: 0.3s;
  box-shadow: $boxShadow
}

.bookCard img {
  width: 170px;
  height: 250px;
  padding-bottom: 5%;
}

.bookCard .btn-group {
  width: 30%;
}

.bookCard .btn-secondary {
  color: #000000;
  background-color: $activeColor;
}
