@import 'constants';

.bookCard {
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #F5F5F5;
}

.bookCardContent {
  margin-top: 25px;
}

.bookCard:hover {
  transition-duration: 0.3s;
  box-shadow: $boxShadow
}

.bookCard img {
  width: 50%;
  padding-bottom: 5%;
}

.bookCard .btn-group {
  width: 50%;
}

.bookCard .btn-secondary {
  color: #000000;
  background-color: $activeColor;
}

.countInput {
  min-width: 40px;
  width: 50%;
  text-align: center;
}
